body{
    background-color: blueviolet;
}
.palo{
    margin-top: 10px;
    margin-left: 40%;
    background: black;
    width: 10px;
    height: 60px;
}
.semaforo{
    padding: 8px;
    margin-left: 34.5%;
    background: black;
    width: 85px;
    height: 250px;
    
}
.circulo{
   
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#red{
    background: red;
   
}
#yellow{
    background: yellow;
   
}
#green{
    background: green;
   
}

.selected {

        box-shadow: 0 0 60px rgba(255, 255, 255, 1);
        background-color: white;
  
  }
  
  .bailando {
    animation: bailar 1s infinite;
  }
  
  @keyframes bailar {
    0% {
      transform: scale(1);
      background-color: #ff0000; 
    }
    25% {
      transform: scale(1.2);
      background-color: #00ff00; 
    }
    50% {
      transform: scale(1);
      background-color: #0000ff; 
    }
    75% {
      transform: scale(1.2);
      background-color: #ff00ff; 
    }
    100% {
      transform: scale(1);
      background-color: #ffff00; 
    }
  }
  